@model Movie

<div>
    <h1>Details @Model.Title</h1>
    <div class="row">
        <div class="col-md-4">
            <img src="~/images/movies/@Model.ImgUrl" alt="Movie Poster" class="img-fluid rounded">
        </div>
        <div class="col-md-8">
            <p class="text-muted">@Model.Description</p>
            <ul class="list-unstyled">
                <li><strong>Price:</strong> <span class="text-primary">$@Model.Price</span></li>
                <li><strong>Cinema:</strong> @Model.Cinema.Name</li>
                <li><strong>Start Date:</strong> @Model.StartDate</li>
                <li><strong>End Date:</strong> @Model.EndDate</li>
                <li><strong>Category:</strong> @Model.Category.Name</li>
            </ul>
            <div class="d-flex align-items-center mb-3">
                @foreach (var item in Model.MovieActors)
                {
                    <a href="/Actor/Details?ActorId=@item.Actor.Id">
                        <img src="~/images/cast/@item.Actor.ProfilePicture" alt="User" class="rounded-circle me-2">
                    </a>
                }
            </div>
            <h2>Trailer</h2>
            <div class="mb-3" style="width: 200px;">
                <video controls>
                    <source src="#" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <p class="status w-25">@Model.MovieStatus</p>
            <partial name="_BookTicketButton" model="@Model" />
        </div>
    </div>
</div>
