@model IEnumerable<Actor>

<div>
    <h1 class="mb-4">Actors List</h1>
    <a asp-action="Create" class="btn btn-success mb-3">Create New Actor</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Profile Picture</th>
                <th>Full Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var actor in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/cast/@actor.ProfilePicture" alt="@actor.FirstName @actor.LastName" class="img-thumbnail" style="width: 50px; height: 50px;">
                    </td>
                    <td class="align-content-center">@actor.FirstName @actor.LastName</td>
                    <td class="align-content-center">
                        <a asp-controller="Actor" asp-action="Details" asp-route-ActorId="@actor.Id" class="btn btn-info">Details</a>
                        <a asp-controller="Actor" asp-action="Edit" asp-route-ActorId="@actor.Id" class="btn btn-warning">Edit</a>
                        <form asp-controller="Actor" asp-action="Delete" asp-route-ActorId="@actor.Id" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>